# AI
*.agents*
.github/copilot-instructions.md
CLAUDE.md

# Temp developer files
tutorial_story.json
.vscode/


# Compiled class file
*.class

# Log file
*.log

# BlueJ files
*.ctxt

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.jar
*.war
*.nar
*.ear
*.zip
*.tar.gz
*.rar

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*
replay_pid*

.terraform

target/
.vscode/

.env
.env.local
.env.development
.env.test
.env.production

.alnao/

#AWS
.aws-sam/
.aws-sam-cli-managed-default/
.aws-sam-cli-managed-default.toml


# AWS CloudFormation
.ebextensions/  

# Backend python!
database.sqlite
.pytest_cache
**/__pycache__/
**/*.pyc
.venv
code/backend/python/coverage.xml

# Backend php
code/backend/php/vendor
code/backend/php/composer.lock

# Robot
code/tests/robot/log.html
code/tests/robot/output.xml
code/tests/robot/report.html
code/tests/robot/reports/
code/tests/robot/reports-aws/
code/tests/robot/reports-local-java-postgres/
code/tests/robot/reports-local-java/
code/tests/robot/reports-local-python/
code/tests/robot/reports-local-php
code/backend/php/build/logs/junit.xml
code/backend/php/.phpunit.result.cache
run_robot_results/

# Sonar
code/backend/aws/.scannerwork
code/backend/aws/.sonar
code/backend/java/.scannerwork
code/backend/php/.scannerwork
code/backend/python/.scannerwork
code/frontend/react-admin/.scannerwork
code/frontend/react-game/.scannerwork
code/frontend/react-game/.sonar
code/backend/aws/coverage.xml
code/backend/aws/.coverage

# Frontend react-admin
code/frontend/react-admin/node_modules/
code/frontend/react-admin/build/
code/frontend/react-admin/.env
code/frontend/react-admin/.env.local
code/frontend/react-admin/.env.development
code/frontend/react-admin/.env.test
code/frontend/react-admin/.env.production
code/frontend/react-admin/coverage/
code/frontend/react-admin/dist/
code/frontend/react-admin/jest-test-results.json

code/frontend/react-game/node_modules/
code/frontend/react-game/build/
code/frontend/react-game/.env
code/frontend/react-game/.env.local
code/frontend/react-game/.env.development
code/frontend/react-game/.env.test
code/frontend/react-game/.env.production
code/frontend/react-game/coverage/
code/frontend/react-game/dist/
code/frontend/react-game/jest-test-results.json

# TMP files!
code/backend/php/debug_sql.php
code/backend/php/converted.sql
