.top--10{top:-10px !important;}
.top--20{top:-20px !important;}
.top--30{top:-30px !important;}
.left--10{left:-10px !important;}
.left--20{left:-20px !important;}
.left--30{left:-30px !important;}
.right--10{right:-10px !important;}
.right--20{right:-20px !important;}
.right--30{right:-30px !important;}

.top-10{top:10px !important;}
.top-20{top:20px !important;}
.top-30{top:30px !important;}
.left-10{left:10px !important;}
.left-20{left:20px !important;}
.left-30{left:30px !important;}
.right-10{right:10px !important;}
.right-20{right:20px !important;}
.right-30{right:30px !important;}

.padding-left-10{padding-left:10px !important;}
.padding-left-20{padding-left:20px !important;}
.padding-left-30{padding-left:30px !important;}
.padding-right-10{padding-right:10px !important;}
.padding-right-20{padding-right:20px !important;}   
.padding-right-30{padding-right:30px !important;}

